<div class = "page-header">
	<h1>
		Employees
		<a href = "/employees/create" class = "btn btn-defaul">
			<span class = "glyphicon glyphicon-plus>"></span>
			New Employee
		</a>
	</h1>
</div>

<!-- LOADING MESSAGE-->
<div class = "jumbotron text-center" ng-show = "empCtrl.processing">
	<span class = "glyphicon glyphicon-repeat spinner"></span>
	<p> Loading Employees ...</p>
</div>

<table class = "table table-bordered table-striped" ng-show = "empCtrl.employees">
<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>Address</th>
		<th>Date of Birth</th>
		<th>Phone</th>
		<th>Image</th>
	</tr>
</thead>

<tbody>	
<!-- LOOP OVER THE USERS -->
	<tr ng-repeat = "employee in empCtrl.employees">
		<td>{{ employee._id }}</td>
		<td>{{ employee.name }}</td>
		<td>{{ employee.email }}</td>
		<td>{{ employee.address }}</td>
		<td>{{ employee.dob }}</td>
		<td>{{ employee.phone }}</td>
		<td>{{ employee.image.imageName }}</td>
		<td class = "col-sm-2">
			<a ng-href = "/employees/{{employee._id}}" class = "btn btn-danger">Edit</a>
		</td>
		<td> <a href = "#"
			ng-click = "empCtrl.deleteEmployee(employee._id)"
			class = "btn btn-primary"> Delete</a></td>
	</tr>
</tbody>	
</table>