<div class = "page-header">
	<h1>
		Employees:
		<a href = "/employees/create" class = "btn btn-defaul">
			<span class = "glyphicon glyphicon-plus>"></span>
			New Employee
		</a>
	</h1>
</div>

<!-- LOADING MESSAGE-->
<div class = "jumbotron text-center" ng-show = "empCtrl.processing">
	<span class = "glyphicon glyphicon-repeat spinner"></span>
	<p> Loading Employees ...</p>
</div>
<div class="container">
    <div class="row">
        <div ng-repeat="employee in empCtrl.employees | filter:startsWith | orderBy: 'Name'">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4">
                <div class="recipeimgbg"><img ng-src="data:{{employee.image.image.contentType}};base64,{{empCtrl.arrayBufferToBase64(employee.image.image.data.data)}}" width="154px" height="100px"/></div>
				<div style="margin:auto;">
					<div class="recipename">
					{{employee.name}}<br />
					<span class="recipenamegry">{{employee.dob}}</span>
					</div>
					<div class="memberrecipe">
					{{employee.phone}}
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="pagination">
    	<table>
    	    <tr>
    	       <td ng-repeat="letter in names">&nbsp;<span ng-click="setFilter(letter)">{{letter}}</span>|</td>
    	    </tr>
    	</table>
    </div>
</div>
